@keyframes animation-reserve {
    0% {
        box-shadow: -5px -10px 10px rgb(151, 189, 182);
    }
    5% {
        box-shadow: -5px -10px 15px rgb(151, 189, 182);
    }
    10% {
        box-shadow: -5px -10px 20px rgb(151, 189, 182);
    }
    15% {
        box-shadow: -5px -10px 25px rgb(151, 189, 182);
    }
    25% {
        box-shadow: -5px -10px 30px rgb(151, 189, 182);
    }
    30% {
        box-shadow: -5px -10px 35px rgb(151, 189, 182);
    }
    35% {
        box-shadow: -5px -10px 40px rgb(151, 189, 182);
    }
    35% {
        box-shadow: -5px -10px 45px rgb(151, 189, 182);
    }
    40% {
        box-shadow: -5px -10px 50px rgb(151, 189, 182);
    }
    45% {
        box-shadow: -5px -10px 55px rgb(151, 189, 182);
    }
    50% {
        box-shadow: -5px -10px 60px rgb(151, 189, 182);
    }
    55% {
        box-shadow: -5px -10px 55px rgb(151, 189, 182);
    }
    60% {
        box-shadow: -5px -10px 50px rgb(151, 189, 182);
    }
    65% {
        box-shadow: -5px -10px 45px rgb(151, 189, 182);
    }
    70% {
        box-shadow: -5px -10px 40px rgb(151, 189, 182);
    }
    75% {
        box-shadow: -5px -10px 35px rgb(151, 189, 182);
    }
    80% {
        box-shadow: -5px -10px 30px rgb(151, 189, 182);
    }
    85% {
        box-shadow: -5px -10px 25px rgb(151, 189, 182);
    }
    90% {
        box-shadow: -5px -10px 20px rgb(151, 189, 182);
    }
    95% {
        box-shadow: -5px -10px 15px rgb(151, 189, 182);
    }
    100% {
        box-shadow: -5px -10px 10px rgb(151, 189, 182);
    }
}