@media(min-width: 1600px) {
    #marcador {
        left: 91.7%;
    }
}

@media(max-width: 798px) {
    section.detalhe {
        background-position: center;
    }
    section.detalhe span h2 {
        font-size: 65px;
    }
    section.detalhe span p {
        font-size: 35px;
    }
    section.detalhe .timeLeft li {
        text-align: center;
        font-size: 15px;
        width: 50px;
    }
    section.detalhe i.reserve {
        width: 300px;
        height: 300px;
        bottom: -150px;
        right: -150px;
        display: none;
    }
    section.detalhe i.reserve h2 {
        margin-top: -60px;
        margin-left: -23px;
        font-size: 15px;
    }
    .title-body {
        font-size: 25px;
    }
    .photo-left {
        margin-top: 100px;
    }
    #marcador,
    hr {
        left: 91.5%;
    }
    hr {
        top: 150px;
        height: 100%;
    }
    .col-md-6 {
        width: 50%;
    }
    .uor-story .description h2 {
        font-size: 15px;
    }
    .uor-story div.description h4 {
        font-size: 9px;
    }
    .uor-story img,
    .uor-story i.img-circle {
        width: 60px;
        height: 60px;
        margin: 10px;
        margin-left: 30%;
    }
    .footer h2 {
        font-size: 50px;
        margin-top: 120px;
        width: 100%;
    }
}

@media only screen and (max-width: 990px) {
    .testimonial {
        margin: 30px;
    }
    .owl-item {
        width: 200px !important;
        margin-right: 70px;
    }
    .owl-item .title {
        width: 130%
    }
}

@media only screen and (min-width: 500px) and (max-width: 990px) {
    .owl-item {
        margin-right: 120px;
        margin-left: 100px;
    }
}