.pricingTable {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 30px 15px 15px;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.pricingTable:before,
.pricingTable:after {
    content: '';
    background: linear-gradient(-45deg, #5A98FB, #5A98FB, #3F64FA, #3F64FA);
    height: 170px;
    width: 150%;
    outline: 5px solid #fff;
    outline-offset: -10px;
    opacity: 0.9;
    transform: translateX(-50%) rotate(7deg);
    position: absolute;
    left: 50%;
    top: -65px;
    z-index: -1;
}

.pricingTable:after {
    height: 250px;
    transform: translateX(-50%) rotate(-20deg) rotateX(180deg);
    top: auto;
    bottom: -150px;
}

.pricingTable .pricingTable-header {
    color: #fff;
    margin: 0 0 75px;
}

.pricingTable .title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
}

.pricingTable .pricing-content {
    text-align: left;
    padding: 0;
    margin: 0 0 10px;
    display: inline-block;
}

.pricingTable .pricing-content li {
    color: #333;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
    padding: 0 40px 0 0;
    margin: 0 0 15px;
    list-style-position: inside;
    position: relative;
}

.pricingTable .pricing-content li:after {
    content: "\f00c";
    color: #5A98FB;
    font-family: "Font Awesome 5 Free";
    font-size: 18px;
    font-weight: 900;
    position: absolute;
    top: 0;
    right: 0;
}

.green .pricing-content li:after {
    color: #109739;
}

.red .pricing-content li:after {
    color: #FF0000;
}

.pink .pricing-content li:after {
    color: #ED2E96;
}

.pricingTable .pricing-content li.disable:after {
    content: "\f00d";
}

.pricingTable .price-value {
    margin: 0 0 15px;
}

.pricingTable .price-title {
    color: #333;
    font-size: 30px;
    text-align: left;
    text-transform: uppercase;
    line-height: 30px;
    width: calc(100% - 130px);
    padding: 15px 0 0;
    display: inline-block;
}

.pricingTable .price-title b {
    display: block;
}

.pricingTable .price-amount {
    color: #3F64FA;
    background: #fff;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    width: 120px;
    height: 120px;
    padding: 15px 10px 10px;
    display: inline-block;
    vertical-align: top;
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
    position: relative;
    z-index: 1;
}

.pricingTable .price-amount:before,
.pricingTable .price-amount:after {
    content: "";
    background: linear-gradient(-45deg, #5A98FB, #5A98FB, #3F64FA, #3F64FA);
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
}

.pricingTable .price-amount:after {
    background: #fff;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
}

.person figure {
    width: 100%;
    height: 290px;
}

.pricingTable .price-amount .duration {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    display: block;
}

.pricingTable .pricingTable-signup a {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 50px;
    display: inline-block;
    transition: all 0.3s;
}

.pricingTable .pricingTable-signup a:hover {
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}

.pricingTable.green:before,
.pricingTable.green:after,
.pricingTable.green .price-amount:before {
    background: linear-gradient(-45deg, #76D243, #76D243, #109739, #109739);
}

.pricingTable.green .price-amount {
    color: #109739;
}

.pricingTable.pink:before,
.pricingTable.pink:after,
.pricingTable.pink .price-amount:before {
    background: linear-gradient(-45deg, #E969A6, #E969A6, #ED2E96, #ED2E96);
}

.pricingTable.pink .price-amount {
    color: #ED2E96;
}

.pricingTable.red:before,
.pricingTable.red:after,
.pricingTable.red .price-amount:before {
    background: linear-gradient(-45deg, #FF0000, #FF0000, #B22222, #B22222);
}

.pricingTable.red .price-amount {
    color: #B22222;
}

@media only screen and (max-width: 990px) {
    .pricingTable {
        margin: 0 0 40px;
    }
}